asgiref
dj-database-url
Django
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
inflection
mysqlclient
packaging
psycopg2
PyJWT
python-decouple
pytz
PyYAML
setuptools
sqlparse
typing_extensions
tzdata
uritemplate
whitenoise